<header class="site-header">
  <div class="container site-header__inner">
    <%= link_to root_path do %>
      <%= image_tag "sf_logo_bnw.png", alt: "SF Strength", class: "site-logo" %>
    <% end %>

    <nav class="site-nav">
      <ul class="site-nav__list">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Train With Me", train_with_me_path %></li>
        <li><%= link_to "Contact", contact_path %></li>

        <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete } %></li>
        <% else %>
          <li><%= link_to "Admin", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>